name: Product Publish
env:
  CI: true
on:
  workflow_dispatch:
  repository_dispatch:
    types: [product-publish]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: dispatch trigger
      # if: github.event == 'publish-product'
      run: |
        echo "repository_dispatch triggered"
