name: Product Publish
env:
  CI: true
  CONTENT_PUBLISH_GIT_USERNAME: ${{ vars.CONTENT_PUBLISH_GIT_USERNAME }}
  CONTENT_PUBLISH_GIT_PASSWORD: ${{ vars.CONTENT_PUBLISH_GIT_PASSWORD }}
  DEFAULT_BASE_BRANCH: ${{ vars.DEFAULT_BASE_BRANCH }}
on:
  workflow_dispatch:
  repository_dispatch:
    types: [product-publish]
jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'product-publish' }}
    steps:
      - uses: actions/checkout@v3
      - name: Git info
        run: git remote -v
      - name: Use node v16.14
        uses: actions/setup-node@v3
        with:
          node-version: 16.14
      # @todo: diff setup process
      - name: Setup and build packages
        run: npm install && npm run build
      # @todo: pull update from remote
      # -name: fetch product
      #  run: npm run fetch-product
      - name: Publish
        run: npm run build:content-publish
        env:
          NEW_BRANCH: xxxxx
      # @todo: Create PR by github api
      - name: Pull request
        run: echo "New branch is $NEW_BRANCH"

    